@model Glamping2.Models.Persona

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/CSS/tipoHabitacion.css">
    <link rel="stylesheet" href="/CSS/PagPrincipal.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="/imagenes/icono.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>
    <div >
        <h1 class="text-center">Crear Persona</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
               
                <div class="col-md-6 mb-3">
                    <label for="TipoDoc" class="form-label">Tipo de documento</label>
                    <select asp-for="TipoDoc" class="form-select">
                        <option value="Cedula">Cédula</option>
                        <option value="Pasaporte">Pasaporte</option>
                        <option value="CedulaExtranjeria">Cédula Extranjería</option>
                    </select>
                    <span asp-validation-for="TipoDoc" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="DocPersona" class="form-label">Nro. documento</label>
                    <input asp-for="DocPersona" maxlength="50" class="form-control" />
                    <span asp-validation-for="DocPersona" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="NomPersona" class="form-label">Nombres</label>
                    <input asp-for="NomPersona" maxlength="50" class="form-control" />
                    <span asp-validation-for="NomPersona" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="ApePersona" class="form-label">Apellidos</label>
                    <input asp-for="ApePersona" maxlength="50" class="form-control" />
                    <span asp-validation-for="ApePersona" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="Tel" class="form-label">Teléfono/Celular</label>
                    <input asp-for="Tel" maxlength="50" class="form-control" />
                    <span asp-validation-for="Tel" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="FechaNaci" class="form-label">Fecha de Nacimiento</label>
                    <input asp-for="FechaNaci" type="date" class="form-control" />
                    <span asp-validation-for="FechaNaci" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="Direcion" class="form-label">Dirección</label>
                    <input asp-for="Direcion" maxlength="50" class="form-control" id="FechaNaci"/>
                    <span asp-validation-for="Direcion" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="Nacionalidad" class="form-label">Nacionalidad</label>
                    <input asp-for="Nacionalidad" maxlength="50" class="form-control" />
                    <span asp-validation-for="Nacionalidad" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="Ciudad" class="form-label">Ciudad</label>
                    <input asp-for="Ciudad" maxlength="50" class="form-control" />
                    <span asp-validation-for="Ciudad" class="text-danger"></span>
                </div>
            </div>

            <input value="Guardar" type="submit" class="login-button" />
        </form>
        <div id="div_btn">
            
            <input value="Cancelar" type="button" class="login-button" onclick="location.href='@Url.Action("Index", "Home")'" />
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script>
        // Calcular la fecha de hace 18 años desde hoy
        const fechaNacimientoInput = document.getElementById('FechaNaci');
        const hoy = new Date();
        const fechaMinima = new Date(hoy.getFullYear() - 18, hoy.getMonth(), hoy.getDate());

        // Convertir la fecha a formato YYYY-MM-DD para establecer como valor máximo
        const anio = fechaMinima.getFullYear();
        const mes = ('0' + (fechaMinima.getMonth() + 1)).slice(-2); // Añadir cero si es necesario
        const dia = ('0' + fechaMinima.getDate()).slice(-2);

        const fechaMaximaPermitida = `${anio}-${mes}-${dia}`;
        fechaNacimientoInput.setAttribute('max', fechaMaximaPermitida);
    </script>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
