@model Glamping2.Models.Persona

@{
    ViewData["Title"] = "Crear Persona";
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="/css/PagPrincipal.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="/imagenes/icono.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <h1>Crear Persona</h1>
        <form class="form" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="nav1">
                <select asp-for="TipoDoc" class="select">
                    <option value="Cedula">Cédula</option>
                    <option value="Pasaporte">Pasaporte</option>
                    <option value="CedulaExtranjeria">Cédula Extranjería</option>
                </select>
                <span asp-validation-for="TipoDoc" class="text-danger"></span>

                <input asp-for="DocPersona" placeholder="Nro.Documento" id="documento" class="input" title="Nro.Documento" />
                <span asp-validation-for="DocPersona" class="text-danger"></span>

            </div>

            <div class="nav1">
                <input asp-for="NomPersona" placeholder="Nombres" id="nombres" class="input" title="Nombres" />
                <span asp-validation-for="NomPersona" class="text-danger"></span>

                <input asp-for="ApePersona" placeholder="Apellidos" id="apellidos" class="input" title="Apellidos" />
                <span asp-validation-for="ApePersona" class="text-danger"></span>
            </div>

            <div class="nav1">
                <input asp-for="Tel" placeholder="Teléfono/Celular" id="telefono" class="input" title="Teléfono/Celular" />
                <span asp-validation-for="Tel" class="text-danger"></span>

                    <input asp-for="FechaNaci" type="date" class="input" id="fechaNaci" />
                    <span asp-validation-for="FechaNaci" class="text-danger"></span>
               
            </div>

            <div class="nav1">
                <input asp-for="Direcion" placeholder="Dirección" id="direccion" class="input" title="Dirección" />
                <span asp-validation-for="Direcion" class="text-danger"></span>


                <input asp-for="Nacionalidad" placeholder="Nacionalidad" id="nacionalidad" class="input" title="Nacionalidad" />
                <span asp-validation-for="Nacionalidad" class="text-danger"></span>
            </div>

            <div class="nav1">
                <input asp-for="Ciudad" placeholder="Ciudad" id="ciudad" class="input" title="Ciudad" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>

            <div id="div_btn">
                <input value="Guardar" type="submit" class="login-button" />
                <input value="Cancelar" type="button" class="login-button"
                    onclick="location.href='@Url.Action("Index", "Home")'" />
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        // Calcular la fecha de hace 18 años desde hoy
        const fechaNacimientoInput = document.getElementById('fechaNaci'); // Asegúrate de que el id coincida
        const hoy = new Date();
        const fechaMinima = new Date(hoy.getFullYear() - 18, hoy.getMonth(), hoy.getDate());

        // Convertir la fecha a formato YYYY-MM-DD para establecer como valor máximo
        const anio = fechaMinima.getFullYear();
        const mes = ('0' + (fechaMinima.getMonth() + 1)).slice(-2); // Añadir cero si es necesario
        const dia = ('0' + fechaMinima.getDate()).slice(-2);

        const fechaMaximaPermitida = `${anio}-${mes}-${dia}`;
        fechaNacimientoInput.setAttribute('max', fechaMaximaPermitida);
    </script>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}