@model Glamping2.Models.Persona

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/CSS/tipoHabitacion.css">
    <link rel="stylesheet" href="/CSS/PagPrincipal.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="/imagenes/icono.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
    <div>
        <h1>Editar</h1>

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPersona" />

            <div class="nav1">
                <label for="TipoDoc">Tipo de documento</label>
                <input asp-for="TipoDoc" class="form-control" readonly />
                <span asp-validation-for="TipoDoc" class="text-danger"></span>
            </div>

            <div class="nav1">
                <label asp-for="DocPersona" class="control-label">Nro. documento</label>
                <input asp-for="DocPersona" class="form-control" readonly />
                <span asp-validation-for="DocPersona" class="text-danger"></span>

                <label asp-for="NomPersona" class="control-label">Nombres</label>
                <input asp-for="NomPersona" maxlength="50" class="form-control" />
                <span asp-validation-for="NomPersona" class="text-danger"></span>

                <label asp-for="ApePersona" class="control-label">Apellidos</label>
                <input asp-for="ApePersona" maxlength="50" class="form-control" />
                <span asp-validation-for="ApePersona" class="text-danger"></span>
            </div>

            <div class="nav1">
                <label asp-for="Edad" class="control-label">Edad</label>
                <input asp-for="Edad" class="form-control" readonly />
                <span asp-validation-for="Edad" class="text-danger"></span>

                <label asp-for="Tel" class="control-label">Telefono/Celular</label>
                <input asp-for="Tel" maxlength="50" class="form-control" />
                <span asp-validation-for="Tel" class="text-danger"></span>
            </div>

            <div class="nav1">
                <label asp-for="FechaNaci" class="control-label">Fecha de Nacimiento</label>
                <input asp-for="FechaNaci" type="date" class="form-control" />
                <span asp-validation-for="FechaNaci" class="text-danger"></span>

                <label asp-for="Direcion" class="control-label">Dirección</label>
                <input asp-for="Direcion" maxlength="50" class="form-control" />
                <span asp-validation-for="Direcion" class="text-danger"></span>
            </div>

            <div class="nav1">
                <label asp-for="Nacionalidad" class="control-label">Nacionalidad</label>
                <input asp-for="Nacionalidad" maxlength="50" class="form-control" readonly />
                <span asp-validation-for="Nacionalidad" class="text-danger"></span>

                <label asp-for="Ciudad" class="control-label">Ciudad</label>
                <input asp-for="Ciudad" maxlength="50" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>

            <div class="div">

                <input value="Guardar" type="submit" class="login-button" />
                <input value="Cancelar" type="button" class="login-button" onclick="location.href='@Url.Action("Index", "TipoHabitacions")'" />
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

