<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Burj Al Arab Gampling</title>
    <link rel="stylesheet" href="~/css/style.css">
   
</head>
<body>

    
        <section class="hero">
            <div class="hero-content">
                <h1>Bienvenido al Burj Al Arab Gampling</h1>
                <p class="texto-con-margen">
                    Disfruta de una estancia inolvidable en nuestro lujoso Hotel Boutique y Gampling
                    , ubicado en el corazón del desierto.. Nuestros servicios de primera clase y nuestra cálida hospitalidad te harán sentir como en casa.
                </p>
            <a href="#seccion-tarjetas" class="botone">Descubre nuestros servicios</a>

            </div>
        </section>

        <section class="about">
            <div class="row">
                <div class="col-6">
                    <div class="image-container">
                    <img src="/imagenes/hotel_image.jpg" alt="Hotel Imagen">
                    </div>
                </div>
                <div class="col-6">
                    <h2>Sobre el Burj Al Arab Gampling</h2>
                    <p class="texto-con-margen">El Burj Al Arab Gampling es un establecimiento de lujo ubicado en el corazón del desierto. Ofrecemos una amplia gama de servicios para garantizar una estancia inolvidable. Desde nuestras elegantes habitaciones hasta nuestras instalaciones de primera clase, nos esforzamos por brindar una experiencia excepcional a cada uno de nuestros huéspedes.</p>
                    <a href="#seccion-tarjetas" class="botone">Descubre nuestros servicios</a>

                </div>
            </div>
        </section>

        <div class="spacer"></div>

        <section class="Servicios" id="seccion-tarjetas">
            <div class="cards-row">
                <div class="card" id="carta1">Casino</div>
                <div class="card" id="carta2">Restaurante</div>
                <div class="card" id="carta3">Spa</div>
            </div>
            <div class="cards-row">
                <div class="card" id="carta4">Toures</div>
                <div class="card" id="carta5">Habitaciones</div>
                <div class="card" id="carta6">Habitaciones de lujo</div>
            </div>
        </section>
</body>
</html>