.container {
  max-width: 100%;
  margin: 30px;
}

.div {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.nav1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* SELECT */
.form .select {
  min-width: 80%;
  font-size: 15px !important;
}

option {
  color: black;
}

/* INPUTS */
.form .input {
  min-width: 80%;
  font-size: 15px !important;
  padding: 4px;
  font-family: lateef !important;
}

#ciudad{
  min-width: 50% !important;
}


/* BOTON GUARDAR Y CANCELAR */
.login-button {
  width: 10% !important;
}

/* CONTENEDORES DE INPUT EN DETALLES CLIENTES */
.col-md-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col-md-6 .input {
  min-width: 100%;
}