/* FORMULARIO RESERVAS */
.container {
  width: 50% !important;
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

@media screen and (max-width:1112px) {
  .container {
      width: 60% !important;
  }
}

/* INPUTS */
.input,
.select {
    min-width: 90%;
}

.col-md-6{
  display: flex;
  flex-direction: column;
}

.col-md-61{
}

/* .form-group1{
  width: 50% !important;
  display: flex;
} */
