/* BOTON GUARDAR CANCELAR */
.div {
    display: flex;
    align-items: center;
}

@media screen and (max-width:600px) {
    .login-button {
        width: 50% !important;
        display: flex;
        align-items: center;
        font-size: 80%;
    }
}

/* FORMULARIO USUARIOS */
.container {
    width: 50% !important;
}

@media screen and (max-width:1112px) {
    .container {
        width: 60% !important;
    }
}

.input,
.select {
    min-width: 90% !important;
}

.form-group{
    display: flex;
    flex-direction: column !important;
    align-items: center;
}

.nav1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}