@model Glamping2.Models.PaqueteServicio

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PaqueteServicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdServicios" class="control-label"></label>
                <select asp-for="IdServicios" class ="form-control" asp-items="ViewBag.IdServicios"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdPaquetes" class="control-label"></label>
                <select asp-for="IdPaquetes" class ="form-control" asp-items="ViewBag.IdPaquetes"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
